@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);
*{
    margin: 0;
    padding: 0;
}
a,
a:hover,
a:focus,
a:active{
    text-decoration: none;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin-bottom: 15px;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    margin-top:80px;
}
.margin25pxT{
    margin-top:25px;
    margin-bottom:25px;
}
.form-control{
    box-shadow: none;
}
.form-control:focus{
    outline: none;
    box-shadow: none;
}
/*================| header css |================*/
header{}
header .navbar{
    width: 100%;
    padding: 15px 0;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
    margin: 0;
    z-index: 5;
    background: #fff;
}
header .navbar-brand{
    color: #3DB4D7;
    font-size: 24px;
    /*border: 1px solid;*/
    padding-right: 25px;
    /*padding-left: 25px;*/
    margin-left:15px;
}
header .nav{}
header .nav li{}
header .nav li.active a{
    color: #3DB4D7;
}
header .nav li a{
    text-transform: uppercase;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 16px;
    color: #000;
}
header .nav li a:hover,
header .nav li a:active,
header .nav li a:focus{
    background: #fff;
    color: #3DB4D7;
}


/*================| slider css |================*/
#EMS-carousel{
    margin-bottom:25px;
}
#EMS-carousel .carousel-inner{}
#EMS-carousel .carousel-inner .item{
    background-size: 100% 100%;
    background-position: center;
    width:100%;
    padding:120px 0;
    height:auto;
}
#EMS-carousel .carousel-inner .item .slider-info{
    padding: 25px;
    background:rgba(0,0,0,0.3);
    margin:30px;
    color: #fff;
    box-shadow: -10px 10px 0 1px rgba(0,0,0,0.7);
}
#EMS-carousel .carousel-inner .item h2{}
#EMS-carousel .carousel-inner .item p{
    font-size: 18px;
    font-weight: 100;
}
#EMS-carousel .carousel-inner .item a{}


/*================| footer css |================*/
footer{
    margin-top:25px;
}
footer p{}
footer a{
    color: #3DB4D7;
}

/*========================================================/
\==================| team_area css |======================\
/========================================================*/
.button-style {
    background: #1A3874;
    display: inline-block;
    padding: 10px;
    color: #fff;
    font-size: 18px;
    border-radius: 3px 3px 0 3px;
    width: 150px;
    position: relative;
    text-align: center;
    border: none;
}
.button-style::before{
    position: absolute;
    border-color: transparent transparent transparent #1A3874;
    border-style: solid;
    border-width: 10px 0 0 15px;
    content: '';
    right: -15px;
    bottom: 0;
}
a.button-style:hover{
    color: #63BEEA;
}
#team_area{}
.team{
    background: #f6f6f6;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2);
    margin-bottom:30px;
}
.team:hover{
    background: #121733;
    color: #fff;
}
.team .img{
    background: url(../images/imgaa.jpeg);
    background-size: cover;
    height:140px;
    position: relative;
}
.team .img img{
    width: 130px;
    height: 130px;
    box-shadow: 0 0 25px 0 #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    border-radius: 100%;
    border: 5px solid #fff;
}
.team-info{
    padding:90px 25px 35px;
}
.team-info h4{
    color: #000;
    font-weight:bold;
}
.team:hover h4,
.team-info:hover h4{
    color: #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.team-info h5{}
 .team-info p{}
.team-info a{
    color: #295498;
}
.team:hover a{
    color: #63BEEA;
}


/*========================================================/
\==================| contact_area css |======================\
/========================================================*/
#contact_area{
    margin:120px 0 50px;
}
#contact_form{}
#contact_form form{}
#contact_form form .form-control {
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #f1f1f1;
    margin-top: 25px;
    padding-left:0;
}

/*========================================================/
\==================| login_page css |======================\
/========================================================*/
#login_form{}
#login_form form{
    /*background: #f6f6f6;*/
    margin: 150px auto;
    padding: 15px 30px;
    /*box-shadow: 0 4px 4px -3px rgba(0,0,0,0.2);*/
}
#login_form form h2{
    margin-bottom:30px;
    color: #1A3874;
}
#login_form form a{
    color: #3DB4D7;
}
#login_form form .form-control{
    border-radius:0;
    box-shadow: none;
}

/*========================================================/
\==================| in-out-time css |======================\
/========================================================*/
#time_form{}
#time_form form{
    /*background: #f6f6f6;*/
    margin: 150px auto;
    padding: 15px 30px;
    /*box-shadow: 0 4px 4px -3px rgba(0,0,0,0.2);*/
}
#time_form form h2{
    margin-bottom:30px;
    color: #1A3874;
}
#time_form form .form-control{
    border-radius:0;
    box-shadow: none;
}

/*========================================================/
\==================| after_save_area css |======================\
/========================================================*/
#after_save_area{
    margin:150px 0 25px;
}


/*========================================================/
\==================| "my_profile_edit css |======================\
/========================================================*/
.profile-single-info{}
.profile-single-info p > b{
    display: inline-block;
    width:120px;
}

#my_profile_edit{

}
#my_profile_edit form{
    background: #f6f6f6;
    margin: 100px auto;
    padding: 15px 30px;
    box-shadow: 0 4px 4px -3px rgba(0,0,0,0.2);
}
#my_profile_edit form h2{
    margin-bottom:30px;
    color: #1A3874;
}
#my_profile_edit form .form-control{
    border-radius:0;
}


/*========================================================/
\==================| "dahboard_table css |======================\
/========================================================*/
#dahboard_table{
    margin-top:80px;
}


/*========================================================/
\==================| add_employee css |======================\
/========================================================*/
#add_employee{}
#add_employee form{}
#add_employee form .form-control{
    box-shadow: none;
    border-radius:0;
}

/*========================================================/
\==================| leave_management_area css |======================\
/========================================================*/
#leave_management_area{
    margin-top:120px;
}
#leave_management_area .form-control{
    box-shadow: none;
}

/*========================================================/
\==================| working_hour css |======================\
/========================================================*/
#working_hour{
    margin-top:80px;
    margin-bottom:250px;
}
#working_hour form .width-half{
    width:45%;
    display: inline-block;
}
